<!DOCTYPE html>
<div>
    <mat-table [dataSource]="bowlers">
        <ng-container matColumnDef="bowler">
            <mat-header-cell class="bowler-header-cell" *matHeaderCellDef>Bowler</mat-header-cell>
            <mat-cell class="bowler-cell" *matCellDef="let bowler">{{bowler.name}}</mat-cell>
        </ng-container>
        
        <ng-container *ngFor="let i of frameNumbers" matColumnDef="{{'frame' + i}}">
            <mat-header-cell class="frame-header-cell" *matHeaderCellDef>Frame {{i}}</mat-header-cell>
            <mat-cell class="frame-cell" *matCellDef="let frame">
                <mat-cell id="first-throw" class="throw-cell">5</mat-cell>
                <mat-cell id="second-throw" class="throw-cell">5</mat-cell>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="score">
            <mat-header-cell class="score-header-cell" *matHeaderCellDef>Score</mat-header-cell>
            <mat-cell class="score-cell" *matCellDef="let bowler">{{bowler.score}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let cellData; columns: columnNames;"></mat-row>
    </mat-table>
</div>